*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(to bottom right,rgb(130, 51, 176),rgba(210,53,165));
}
.container{
    display: flex;
    justify-content: center;
}

table{
    background: #22252D;
    border:5px solid #22252D;
    border-radius: 20px ;
    width:300px;
    height: 500px;
    margin:9vh;
}
.screen{
    width:265px;
    height: 150px;
    text-align: right;
    cursor: none;
    font-size: 2rem;
    margin: 10px;
    background:#000;
    color: white;
    border-radius: 20px;
    border: none;
}
input[type="button"]{
    font-size: 2rem;
    width: 61px;
    height: 52px;
    border-radius:12px;
    border: none;
    cursor: pointer;
    margin-left: 4px;
}

.operator{
    background: rgb(245, 146, 62);
    color: white;
}
.equal{
    background:blue;
    color: white;
}
.clear{
    background:blue;
    color: white;
}

